@font-face {
    font-family: 'Gabriola';
    src: url('../fonts/Gabriola.ttf');
}

:root {
    font-family: 'Gabriola', sans-serif;
    --accent: #2D6033; /* из руководства по стилю - акцентрирование внимания */
    --border: #78a56a;
    --bg-button: #299509;
    --bg-primary: #BBD9B2; /* из руководства по стилю - доп фон */
    --bg-main: #FFFFFF; /* из руководства по стилю - основной фон */
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.underline:hover {
    text-decoration: underline dotted;
}

.main-content {
    width: 100%;
    max-width: 900px;
    padding: 10px 10px;
}

.header {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    background: var(--bg-primary);
    border-bottom: solid 2px var(--border);
    border-radius: 0 0 10px 10px;
}

.logo-title {
    color: #000000;
    text-decoration: none;
}

/* Для флексов */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* Строки */

.line-height-1 {
    line-height: 1;
}

.fw {
    font-weight: bold;
}

/* Отступы */

.gap {
    gap: 2px;
}

.gap-2 {
    gap: 4px;
}

.gap-6 {
    gap: 12px;
}

.mt-2 {
    margin-top: 4px;
}

/* flex-позиционирование */

.between {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-end {
    justify-content: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Размеры контейнеров */

.min-w-fit {
    min-width: fit-content;
}

.max-w-fit {
    max-width: fit-content;
}

/* Размеры шрифтов */

.text-sm {
    font-size: 16px;
}

.text-xs {
    font-size: 18px;
}

.text-base {
    font-size: 20px;
}

.text-lg {
    font-size: 22px;
}

.text-xl {
    font-size: 24px;
}

.text-h {
    font-size: 30px;
}

/* Кнопочка */

.btn {
    border: none;

    transition: all;
    transition-duration: 300ms;

    font-size: 22px;
    border-radius: 10px;
    background: var(--accent);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--bg-main);
    max-height: fit-content;
}

.btn-small {
    padding: 0 4px;
}

.btn:hover {
    padding: 3px 8px;
    margin: 2px;
    cursor: pointer;
}

/* Поведение ссылок */

.link:hover {
    text-decoration: underline;
}

/* Дизайн карточек */

.card {
    border: solid 1px var(--border);
    border-bottom: solid 2px var(--border);
    border-radius: 5px;
    padding: 10px 30px 10px 20px;

    background: var(--bg-primary);
}

a.card:hover {
    border: solid 2px var(--border);
    border-bottom: solid 4px var(--border);
    padding: 10px 30px 7px 20px;
}

/* Формы */

.form-item {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
}

.form-item label,
.label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--accent);
    user-select: none;
}

.form-item input,
.form-item select {
    font-size: 24px;
    width: 100%;
    padding: 0 12px;
    font-weight: 500;
    color: var(--accent);
    background-color: var(--bg-main);
    border: 2px solid var(--border);
    border-radius: 6px;
    outline-offset: 2px;
    box-sizing: border-box;
    font-family: 'Gabriola', sans-serif;
}

.form-item select {
    padding: 8px 12px;
}

form {
    background: var(--bg-primary);
    padding: 5px 10px;
    margin-top: 15px;
    border: solid 1px var(--border);
    border-radius: 10px;
}

.p-error {
    margin-top: 4px;
    color: #dd3333;
    font-size: 14px;
    font-weight: 600;
}

/* Табличка */

table {
    border-spacing: 12px 0;
    width: 100%;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: 700;
    font-size: 24px;
    color: var(--accent);
}

tbody tr {
    font-size: 24px;
}
