@font-face {
    font-family: 'Gabriola';
    src: url('../fonts/Gabriola.ttf');
}

:root {
    font-family: 'Gabriola', sans-serif;
    --accent: #2D6033;
    --border: #78a56a;
    --bg-button: #299509;
    --bg-primary: #BBD9B2;
    --bg-main: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

header {

}

.main-content {
    width: 100%;
    max-width: 900px;
    padding: 10px 10px;
}

.header {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    background: var(--bg-primary);
    border-bottom: solid 2px var(--border);
    border-radius: 0 0 10px 10px;
}

.logo-title {
    color: #000000;
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.line-height-1 {
    line-height: 1;
}

.fw {
    font-weight: bold;
}

.gap {
    gap: 2px;
}

.gap-2 {
    gap: 4px;
}

.gap-6 {
    gap: 12px;
}

.mt-2 {
    margin-top: 4px;
}

.between {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-end {
    justify-content: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.min-w-fit {
    min-width: fit-content;
}

.max-w-fit {
    max-width: fit-content;
}

.text-sm {
    font-size: 16px;
}

.text-xs {
    font-size: 18px;
}

.text-base {
    font-size: 20px;
}

.text-lg {
    font-size: 22px;
}

.text-xl {
    font-size: 24px;
}

.text-h {
    font-size: 30px;
}

.btn {
    border: none;

    transition: all;
    transition-duration: 300ms;

    font-size: 22px;
    border-radius: 10px;
    background: var(--accent);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--bg-main);
    max-height: fit-content;
}

.btn-small {
    padding: 0 4px;
}

.btn:hover {
    padding: 3px 8px;
    margin: 2px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
